#map-container {
    display: flex;
    justify-content: center;
}

#map {
    width: 500px;
    height: 500px;
}

.round-marker {
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}