#section-container {
    display: flex;
    justify-content: center;
}

.pet-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.pet-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 150px;
}

.pet-image {
  width: 50px;
  height: 50px;
  
  object-fit: cover; 
  
  border-radius: 50%;
  margin-bottom: 5px;
}

.pet-details h3 {
  margin: 5px 0;
  font-size: 1.1em;
}

.pet-breed {
  color: #666;
  font-size: 0.9em;
  margin: 0;
}